In [1]:
import warnings
warnings.filterwarnings('ignore')
import pyterrier as pt
if not pt.java.started():
    pt.java.init()

import os, sys
import config
# sys.path.append('/mnt/primary/exposure-fairness')
# os.chdir('/mnt/primary/exposure-fairness/')
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', 100)
import matplotlib.pyplot as plt

Java started and loaded: pyterrier.java, pyterrier.terrier.java [version=5.11 (build: craig.macdonald 2025-01-13 21:29), helper_version=0.0.8]

In [1]:
# import sys
# print(sys.executable)

/opt/miniconda3/envs/exposure-fairness-py3.10-cuda12.1/bin/python

In [4]:
! which python

/opt/miniconda3/envs/exposure-fairness-py3.10-cuda12.1/bin/python

In [9]:
# data_dir = '/mnt/datasets/cxj/retrievability-bias/data/bm25'
# df = pd.read_csv(f'{data_dir}/df_bm25_dev_0.csv', index_col=0).reset_index()

# data_dir = '/mnt/datasets/cxj/retrievability-bias/data/bm25_monot5'
# df = pd.read_csv(f'{data_dir}/df_bm25_monot5_dev_0.csv', index_col=0).reset_index()

# data_dir = '/mnt/datasets/cxj/retrievability-bias/data/rtr_splade'
# df = pd.read_csv(f'{data_dir}/df_rtr_splade_dev_topics_0.csv', index_col=0).reset_index()

# data_dir = '/mnt/datasets/cxj/retrievability-bias/data/tctcolbert'
# df = pd.read_csv(f'{data_dir}/df_tctcolbert_dev_0.csv', index_col=0).reset_index()

# data_dir = '/mnt/datasets/cxj/retrievability-bias/data/bm25_tctcolbert'
# df = pd.read_csv(f'{data_dir}/df_bm25_tctcolbert_dev_0.csv', index_col=0).reset_index()

# csv = '/mnt/datasets/cxj/exposure-fairness/bm25/results.csv'
# df = pd.read_pickle(csv).reset_index()

# csv = '/mnt/datasets/cxj/exposure-fairness/bm25/df_bm25_dev_0.csv'
# df = pd.read_csv(csv, index_col=0).reset_index()

# csv = '/mnt/datasets/cxj/exposure-fairness/bm25_monot5/df_bm25_monot5_dev_0.csv'
# df = pd.read_csv(csv, index_col=0).reset_index()

# csv = '/mnt/datasets/cxj/exposure-fairness/splade/df_splade_dev_0.csv'
# df = pd.read_csv(csv, index_col=0).reset_index()

# csv = '/mnt/datasets/cxj/exposure-fairness/tctcolbert/df_tctcolbert_dev_0.csv'
# df = pd.read_csv(csv, index_col=0).reset_index()

# csv = '/mnt/datasets/cxj/exposure-fairness/bm25_tctcolbert/df_bm25_tctcolbert_dev_0.csv'
# df = pd.read_csv(csv, index_col=0).reset_index()

# csv = '/mnt/datasets/cxj/exposure-fairness/v1/results.csv'

# csv = f'{config.data_dir}/v2/bm25_msmarco-passage_dev_100.csv'
# df = pd.read_csv(csv, index_col=0).reset_index()

In [11]:
modelname = 'bm25'

result_csv = f'{config.data_dir}/v2/{modelname}_{config.dataset_name}_{config.topics_name}_{config.retrieve_num}_measures.csv'
df = pd.read_csv(result_csv, index_col=0).reset_index()
df = df.round(4)
df.head()

,qid,docid,docno,score,rank,query,map,recip_rank,P_10,ndcg_cut_10
0,1048578,7187236,7187236,67.5286,0,cost of endless pools swim spa,0.1781,0.1814,0.037,0.2131
1,1048578,7471198,7471198,62.1219,1,cost of endless pools swim spa,0.1781,0.1814,0.037,0.2131
2,1048578,5365326,5365326,51.9585,2,cost of endless pools swim spa,0.1781,0.1814,0.037,0.2131
3,1048578,7187241,7187241,51.9479,3,cost of endless pools swim spa,0.1781,0.1814,0.037,0.2131
4,1048578,6802210,6802210,47.9260,4,cost of endless pools swim spa,0.1781,0.1814,0.037,0.2131

In [12]:
modelname = 'bm25_monot5'

result_csv = f'{config.data_dir}/v2/{modelname}_{config.dataset_name}_{config.topics_name}_{config.retrieve_num}_measures.csv'
df = pd.read_csv(result_csv, index_col=0).reset_index()
df = df.round(4)
df.head()

,qid,docid,docno,score,rank,map,recip_rank,P_10,ndcg_cut_10
0,1048578,7187236,7187236,-1.1131,17,0.3469,0.3528,0.058,0.3962
1,1048578,7471198,7471198,-3.5894,21,0.3469,0.3528,0.058,0.3962
2,1048578,5365326,5365326,-0.0036,3,0.3469,0.3528,0.058,0.3962
3,1048578,7187241,7187241,-3.5044,20,0.3469,0.3528,0.058,0.3962
4,1048578,6802210,6802210,-3.8803,22,0.3469,0.3528,0.058,0.3962

In [13]:
modelname = 'splade'

result_csv = f'{config.data_dir}/v2/{modelname}_{config.dataset_name}_{config.topics_name}_{config.retrieve_num}_measures.csv'
df = pd.read_csv(result_csv, index_col=0).reset_index()
df = df.round(4)
df.head()

,qid,docid,docno,score,rank,map,recip_rank,P_10,ndcg_cut_10
0,1048578,7187234,7187234,1345.9279,0,0.3863,0.3917,0.0694,0.446
1,1048578,2078221,2078221,1324.3284,1,0.3863,0.3917,0.0694,0.446
2,1048578,5365326,5365326,1322.6727,2,0.3863,0.3917,0.0694,0.446
3,1048578,4567130,4567130,1308.0763,3,0.3863,0.3917,0.0694,0.446
4,1048578,5365328,5365328,1250.8606,4,0.3863,0.3917,0.0694,0.446

In [14]:
modelname = 'tctcolbert'

result_csv = f'{config.data_dir}/v2/{modelname}_{config.dataset_name}_{config.topics_name}_{config.retrieve_num}_measures.csv'
df = pd.read_csv(result_csv, index_col=0).reset_index()
df = df.round(4)
df.head()

,qid,docid,docno,score,rank,map,recip_rank,P_10,ndcg_cut_10
0,1048578,7187234,7187234,81.4986,0,0.3648,0.3701,0.0657,0.421
1,1048578,4567130,4567130,81.4238,1,0.3648,0.3701,0.0657,0.421
2,1048578,7187239,7187239,80.7036,2,0.3648,0.3701,0.0657,0.421
3,1048578,2078221,2078221,80.1424,3,0.3648,0.3701,0.0657,0.421
4,1048578,5365328,5365328,79.9475,4,0.3648,0.3701,0.0657,0.421

In [15]:
modelname = 'bm25_tctcolbert'

result_csv = f'{config.data_dir}/v2/{modelname}_{config.dataset_name}_{config.topics_name}_{config.retrieve_num}_measures.csv'
df = pd.read_csv(result_csv, index_col=0).reset_index()
df = df.round(4)
df.head()

,qid,docid,docno,score,rank,map,recip_rank,P_10,ndcg_cut_10
0,1048578,7187236,7187236,79.1012,19,0.3226,0.3281,0.0557,0.3713
1,1048578,7471198,7471198,79.1094,18,0.3226,0.3281,0.0557,0.3713
2,1048578,5365326,5365326,79.7523,5,0.3226,0.3281,0.0557,0.3713
3,1048578,7187241,7187241,79.7388,6,0.3226,0.3281,0.0557,0.3713
4,1048578,6802210,6802210,79.3412,13,0.3226,0.3281,0.0557,0.3713

In [3]:
df.head()

       qid    docid    docno      score  rank                           query
0  1048578  7187236  7187236  67.528593     0  cost of endless pools swim spa
1  1048578  7471198  7471198  62.121928     1  cost of endless pools swim spa
2  1048578  5365326  5365326  51.958492     2  cost of endless pools swim spa
3  1048578  7187241  7187241  51.947947     3  cost of endless pools swim spa
4  1048578  6802210  6802210  47.925985     4  cost of endless pools swim spa

In [ ]:
df[(df.modelname == 'bm25') & (df.num_groups == 2000)]

In [16]:
result = '/mnt/datasets/cxj/exposure-fairness/v1/df_bm25_dev_0.csv'
df = pd.read_csv(result,index_col=0).reset_index(drop=True)
df.head()

,docid,docno,rank,score,query,text
0,7187236,7187236,0,67.528593,cost of endless pools swim spa,The Endless Pool 15' endless pools swim spa Endless Pool Nightmare Buy A Big Spa Instead Great t...
1,7471198,7471198,1,62.121928,cost of endless pools swim spa,Cal Spas is the leading maker of home resort products. Cal Spas makes a great jetted swim spa wi...
2,5365326,5365326,2,51.958492,cost of endless pools swim spa,"How much does a swim spa cost. 1 A top of the line, branded swim spa 9 feet by 16 feet with the..."
3,7187241,7187241,3,51.947947,cost of endless pools swim spa,Disclaimer: Endless Pools (and all other swim spa manufacturers) are intentionally secretive abo...
4,6802210,6802210,4,47.925985,cost of endless pools swim spa,"Endless Pools is one of the first companies to develop this Swim Spa, or “endless” swimming pool..."

In [ ]:
# df2 = pd.DataFrame()
# df2['query_id'] = df['qid'].astype(str)
# df2['doc_id'] = df['docno'].astype(str)
# df2['score'] = df['score']
# ir_measures.calc_aggregate([RR, nDCG@10], qrels, df2)

In [20]:
df = pd.read_csv('./results/result_all_models_all_groups.csv')
df = df.round(2)

In [21]:
df.head()

  modelname  threshold  grps  min_gini  mean_gini  max_gini  nDCG@10  RR
0      bm25          0   500      0.19       0.29      0.56      NaN NaN
1      bm25         30   500      0.19       0.30      0.58      NaN NaN
2      bm25         60   500      0.20       0.33      0.58      NaN NaN
3      bm25         90   500      0.24       0.40      0.67      NaN NaN
4      bm25          0  1000      0.18       0.28      0.61      NaN NaN

In [ ]:
import json

def save(dict, file):
    with open(file,'w') as f:
        json.dump(dict, f)

def load(file):
    with open(file,'r') as f:
        ms_docids = json.load(f)
    return ms_docids

import statistics
def calc_stats(modelname,df,scoredF, topics):
    if not os.path.exists(scoredF):
        init_msmarco_dict = './results/ms_docids.json'
        docids_score = load(init_msmarco_dict)
        for qid in pt.tqdm(topics['qid']):
            D = df[df['qid'] == np.int64(qid)]
            for dno in D['docno']:
                rank = D[D['docno'] == dno]['rank'].values[0]
                score = 100 / np.log(rank + 2)  # plus 2 because the ranks start from zero
                docids_score[str(dno)] += score
        save(docids_score, scoredF)

    docids_score = load(scoredF)
    scores_df = pd.DataFrame.from_dict(docids_score, orient="index", columns=["score"])
    scores_df = scores_df[scores_df["score"] > 0]
    scores = scores_df['score'].to_list()

    mean = statistics.mean(scores)
    std_dev = statistics.stdev(scores)
    gini_value = Gini(scores)
    return mean, std_dev, gini_value