In [13]:
import warnings
warnings.filterwarnings('ignore')
import pyterrier as pt
if not pt.java.started():
    pt.java.init()

import numpy as np
import os, sys
import config
# sys.path.append('/mnt/primary/exposure-fairness')
# os.chdir('/mnt/primary/exposure-fairness/')
import pandas as pd
pd.options.display.float_format = "{:.4f}".format
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', 100)
import matplotlib.pyplot as plt

In [4]:
# import sys
# print(sys.executable)

In [7]:
df = pd.DataFrame([{'docno':1,'text':'test'}])

In [8]:
df

   docno  text
0      1  test

In [4]:
! which python

/opt/miniconda3/envs/exposure-fairness-py3.10-cuda12.1/bin/python

In [9]:
# data_dir = '/mnt/datasets/cxj/retrievability-bias/data/bm25'
# df = pd.read_csv(f'{data_dir}/df_bm25_dev_0.csv', index_col=0).reset_index()

# data_dir = '/mnt/datasets/cxj/retrievability-bias/data/bm25_monot5'
# df = pd.read_csv(f'{data_dir}/df_bm25_monot5_dev_0.csv', index_col=0).reset_index()

# data_dir = '/mnt/datasets/cxj/retrievability-bias/data/rtr_splade'
# df = pd.read_csv(f'{data_dir}/df_rtr_splade_dev_topics_0.csv', index_col=0).reset_index()

# data_dir = '/mnt/datasets/cxj/retrievability-bias/data/tctcolbert'
# df = pd.read_csv(f'{data_dir}/df_tctcolbert_dev_0.csv', index_col=0).reset_index()

# data_dir = '/mnt/datasets/cxj/retrievability-bias/data/bm25_tctcolbert'
# df = pd.read_csv(f'{data_dir}/df_bm25_tctcolbert_dev_0.csv', index_col=0).reset_index()

# csv = '/mnt/datasets/cxj/exposure-fairness/bm25/results.csv'
# df = pd.read_pickle(csv).reset_index()

# csv = '/mnt/datasets/cxj/exposure-fairness/bm25/df_bm25_dev_0.csv'
# df = pd.read_csv(csv, index_col=0).reset_index()

# csv = '/mnt/datasets/cxj/exposure-fairness/bm25_monot5/df_bm25_monot5_dev_0.csv'
# df = pd.read_csv(csv, index_col=0).reset_index()

# csv = '/mnt/datasets/cxj/exposure-fairness/splade/df_splade_dev_0.csv'
# df = pd.read_csv(csv, index_col=0).reset_index()

# csv = '/mnt/datasets/cxj/exposure-fairness/tctcolbert/df_tctcolbert_dev_0.csv'
# df = pd.read_csv(csv, index_col=0).reset_index()

# csv = '/mnt/datasets/cxj/exposure-fairness/bm25_tctcolbert/df_bm25_tctcolbert_dev_0.csv'
# df = pd.read_csv(csv, index_col=0).reset_index()

# csv = '/mnt/datasets/cxj/exposure-fairness/v1/results.csv'

# csv = f'{config.data_dir}/v2/bm25_msmarco-passage_dev_100.csv'
# df = pd.read_csv(csv, index_col=0).reset_index()

In [6]:
modelname = 'bm25'

result_csv = f'{config.data_dir}/v2/{modelname}_{config.dataset_name}_{config.topics_name}_{config.retrieve_num}_measures.csv'
df = pd.read_csv(result_csv, index_col=0).reset_index()
# df = df.round(4)
df.head()

,qid,docid,docno,score,rank,query,map,recip_rank,P_10,ndcg_cut_10
0,1048578,7187236,7187236,67.5286,0,cost of endless pools swim spa,0.1781,0.1814,0.0370,0.2131
1,1048578,7471198,7471198,62.1219,1,cost of endless pools swim spa,0.1781,0.1814,0.0370,0.2131
2,1048578,5365326,5365326,51.9585,2,cost of endless pools swim spa,0.1781,0.1814,0.0370,0.2131
3,1048578,7187241,7187241,51.9479,3,cost of endless pools swim spa,0.1781,0.1814,0.0370,0.2131
4,1048578,6802210,6802210,47.9260,4,cost of endless pools swim spa,0.1781,0.1814,0.0370,0.2131

In [7]:
modelname = 'splade'

result_csv = f'{config.data_dir}/v2/{modelname}_{config.dataset_name}_{config.topics_name}_{config.retrieve_num}_measures.csv'
df = pd.read_csv(result_csv, index_col=0).reset_index()
df.head()

,qid,docid,docno,score,rank,map,recip_rank,P_10,ndcg_cut_10
0,1048578,7187234,7187234,1345.9279,0,0.3863,0.3917,0.0694,0.4460
1,1048578,2078221,2078221,1324.3284,1,0.3863,0.3917,0.0694,0.4460
2,1048578,5365326,5365326,1322.6727,2,0.3863,0.3917,0.0694,0.4460
3,1048578,4567130,4567130,1308.0763,3,0.3863,0.3917,0.0694,0.4460
4,1048578,5365328,5365328,1250.8606,4,0.3863,0.3917,0.0694,0.4460

In [8]:
modelname = 'tctcolbert'

result_csv = f'{config.data_dir}/v2/{modelname}_{config.dataset_name}_{config.topics_name}_{config.retrieve_num}_measures.csv'
df = pd.read_csv(result_csv, index_col=0).reset_index()
df = df.round(4)
df.head()

,qid,docid,docno,score,rank,map,recip_rank,P_10,ndcg_cut_10
0,1048578,7187234,7187234,81.4986,0,0.3648,0.3701,0.0657,0.4210
1,1048578,4567130,4567130,81.4238,1,0.3648,0.3701,0.0657,0.4210
2,1048578,7187239,7187239,80.7036,2,0.3648,0.3701,0.0657,0.4210
3,1048578,2078221,2078221,80.1424,3,0.3648,0.3701,0.0657,0.4210
4,1048578,5365328,5365328,79.9475,4,0.3648,0.3701,0.0657,0.4210

In [9]:
modelname = 'bm25_tctcolbert'

result_csv = f'{config.data_dir}/v2/{modelname}_{config.dataset_name}_{config.topics_name}_{config.retrieve_num}_measures.csv'
df = pd.read_csv(result_csv, index_col=0).reset_index()
df = df.round(4)
df.head()

,qid,docid,docno,score,rank,map,recip_rank,P_10,ndcg_cut_10
0,1048578,7187236,7187236,79.1012,19,0.3226,0.3281,0.0557,0.3713
1,1048578,7471198,7471198,79.1094,18,0.3226,0.3281,0.0557,0.3713
2,1048578,5365326,5365326,79.7523,5,0.3226,0.3281,0.0557,0.3713
3,1048578,7187241,7187241,79.7388,6,0.3226,0.3281,0.0557,0.3713
4,1048578,6802210,6802210,79.3412,13,0.3226,0.3281,0.0557,0.3713

In [10]:
modelname = 'bm25_monot5'

result_csv = f'{config.data_dir}/v2/{modelname}_{config.dataset_name}_{config.topics_name}_{config.retrieve_num}_measures.csv'
df = pd.read_csv(result_csv, index_col=0).reset_index()
df = df.round(4)
df.head()

,qid,docid,docno,score,rank,map,recip_rank,P_10,ndcg_cut_10
0,1048578,7187236,7187236,-1.1131,17,0.3469,0.3528,0.0580,0.3962
1,1048578,7471198,7471198,-3.5894,21,0.3469,0.3528,0.0580,0.3962
2,1048578,5365326,5365326,-0.0036,3,0.3469,0.3528,0.0580,0.3962
3,1048578,7187241,7187241,-3.5044,20,0.3469,0.3528,0.0580,0.3962
4,1048578,6802210,6802210,-3.8803,22,0.3469,0.3528,0.0580,0.3962

In [28]:
grp_granularity=5000

In [29]:
modelname = config.models[0]
result_csv_path = f'{config.data_dir}/v2/{modelname}_{config.dataset_name}_{config.topics_name}_{config.retrieve_num}_models_granularities.csv'
df = pd.read_csv(result_csv_path, index_col=0).reset_index()
df[(df.modelname == modelname) & (df.grp_granularity == grp_granularity)]

  modelname  grp_granularity  min_gini  mean_gini  max_gini
3      bm25             5000    0.1478     0.2623    0.6606

In [30]:
modelname = config.models[1]
result_csv_path = f'{config.data_dir}/v2/{modelname}_{config.dataset_name}_{config.topics_name}_{config.retrieve_num}_models_granularities.csv'
df = pd.read_csv(result_csv_path, index_col=0).reset_index()
df[(df.modelname == modelname) & (df.grp_granularity == grp_granularity)]

  modelname  grp_granularity  min_gini  mean_gini  max_gini
3    splade             5000    0.1843     0.2733    0.5685

In [31]:
modelname = config.models[2]
result_csv_path = f'{config.data_dir}/v2/{modelname}_{config.dataset_name}_{config.topics_name}_{config.retrieve_num}_models_granularities.csv'
df = pd.read_csv(result_csv_path, index_col=0).reset_index()
df[(df.modelname == modelname) & (df.grp_granularity == grp_granularity)]

    modelname  grp_granularity  min_gini  mean_gini  max_gini
3  tctcolbert             5000    0.1843     0.2720    0.5696

In [32]:
modelname = config.models[3]
result_csv_path = f'{config.data_dir}/v2/{modelname}_{config.dataset_name}_{config.topics_name}_{config.retrieve_num}_models_granularities.csv'
df = pd.read_csv(result_csv_path, index_col=0).reset_index()
df[(df.modelname == modelname) & (df.grp_granularity == grp_granularity)]

         modelname  grp_granularity  min_gini  mean_gini  max_gini
3  bm25_tctcolbert             5000    0.1429     0.2584    0.6197

In [33]:
modelname = config.models[4]
result_csv_path = f'{config.data_dir}/v2/{modelname}_{config.dataset_name}_{config.topics_name}_{config.retrieve_num}_models_granularities.csv'
df = pd.read_csv(result_csv_path, index_col=0).reset_index()
df[(df.modelname == modelname) & (df.grp_granularity == grp_granularity)]

     modelname  grp_granularity  min_gini  mean_gini  max_gini
3  bm25_monot5             5000    0.1426     0.2571    0.6084

In [12]:
df.head()

  modelname  grp_granularity  min_gin  mean_gini  max_gin
0      bm25              500   0.2049     0.3097   0.5860
1      bm25             1000   0.1922     0.2988   0.6454
2      bm25             2000   0.1843     0.2852   0.7536
3      bm25             5000   0.1478     0.2623   0.6606
4      bm25            10000   0.1450     0.2442   0.6616

In [ ]:
df[(df.modelname == modelname) & (df.num_groups == 5000)]

In [10]:
modelname = config.models[0]
result_csv_path = f'{config.data_dir}/v2/{modelname}_{config.dataset_name}_{config.topics_name}_{config.retrieve_num}_models_granularities.csv'
df = pd.read_csv(result_csv_path, index_col=0).reset_index()
df

  modelname  grp_granularity  min_gini  mean_gini  max_gini
0      bm25              500    0.2049     0.3097    0.5860
1      bm25             1000    0.1922     0.2988    0.6454
2      bm25             2000    0.1843     0.2852    0.7536
3      bm25             5000    0.1478     0.2623    0.6606
4      bm25            10000    0.1450     0.2442    0.6616

         modelname  grp_granularity  min_gini  mean_gini  max_gini
0  bm25_tctcolbert              500    0.2036     0.3044    0.5860
1  bm25_tctcolbert             1000    0.1933     0.2938    0.6258
2  bm25_tctcolbert             2000    0.1843     0.2805    0.7245
3  bm25_tctcolbert             5000    0.1429     0.2584    0.6197
4  bm25_tctcolbert            10000    0.1614     0.2409    0.6050

In [33]:
df = df.rename(columns={'min_gin':'min_gini','max_gin':'max_gini'})

In [ ]:
#########################################################

In [16]:
for granu in [500, 1000, 2000, 5000, 10000]:
    query_csv_path = f'{config.prog_dir}/grouped_queries/clustered_dev_queries_by_{granu}.csv'
    cluster_q_df = pd.read_csv(query_csv_path, index_col=0).reset_index()

    for modelname in config.models:
        result_csv_path = f'{config.data_dir}/v2/{modelname}_{config.dataset_name}_{config.topics_name}_{config.retrieve_num}.csv'
        res_df = pd.read_csv(result_csv_path, index_col=0).reset_index()

        merged_df = res_df.merge(cluster_q_df, on='qid', how='left')
        
        cluster_q_df

In [18]:
concat_q_df.shape

(505465, 3)

In [15]:
df.head()

       qid    docid    docno   score  rank                           query
0  1048578  7187236  7187236 67.5286     0  cost of endless pools swim spa
1  1048578  7471198  7471198 62.1219     1  cost of endless pools swim spa
2  1048578  5365326  5365326 51.9585     2  cost of endless pools swim spa
3  1048578  7187241  7187241 51.9479     3  cost of endless pools swim spa
4  1048578  6802210  6802210 47.9260     4  cost of endless pools swim spa

In [34]:
os.remove(result_csv_path)

In [35]:
df.to_csv(result_csv_path, index=False)

In [36]:
df

         modelname  grp_granularity  min_gini  mean_gini  max_gini
0  bm25_tctcolbert              500    0.2036     0.3044    0.5860
1  bm25_tctcolbert             1000    0.1933     0.2938    0.6258
2  bm25_tctcolbert             2000    0.1843     0.2805    0.7245
3  bm25_tctcolbert             5000    0.1429     0.2584    0.6197
4  bm25_tctcolbert            10000    0.1614     0.2409    0.6050

In [ ]:
# df2 = pd.DataFrame()
# df2['query_id'] = df['qid'].astype(str)
# df2['doc_id'] = df['docno'].astype(str)
# df2['score'] = df['score']
# ir_measures.calc_aggregate([RR, nDCG@10], qrels, df2)

In [ ]:
import json

def save(dict, file):
    with open(file,'w') as f:
        json.dump(dict, f)

def load(file):
    with open(file,'r') as f:
        ms_docids = json.load(f)
    return ms_docids

import statistics
def calc_stats(modelname,df,scoredF, topics):
    if not os.path.exists(scoredF):
        init_msmarco_dict = './results/ms_docids.json'
        docids_score = load(init_msmarco_dict)
        for qid in pt.tqdm(topics['qid']):
            D = df[df['qid'] == np.int64(qid)]
            for dno in D['docno']:
                rank = D[D['docno'] == dno]['rank'].values[0]
                score = 100 / np.log(rank + 2)  # plus 2 because the ranks start from zero
                docids_score[str(dno)] += score
        save(docids_score, scoredF)

    docids_score = load(scoredF)
    scores_df = pd.DataFrame.from_dict(docids_score, orient="index", columns=["score"])
    scores_df = scores_df[scores_df["score"] > 0]
    scores = scores_df['score'].to_list()

    mean = statistics.mean(scores)
    std_dev = statistics.stdev(scores)
    gini_value = Gini(scores)
    return mean, std_dev, gini_value