In [27]:
import warnings
warnings.filterwarnings('ignore')
import pyterrier as pt
if not pt.java.started():
    pt.java.init()

import os, sys
# sys.path.append('/nfs/primary/exposure-fairness')
os.chdir('/nfs/primary/exposure-fairness')
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', 100)
import glob
import fair_utils
import ir_measures
from ir_measures import * # imports all supported measures, e.g., AP, nDCG, RR, P

In [3]:
dataset_name = 'msmarco-passage'
dataset = pt.get_dataset(f'irds:{dataset_name}')

dataset = pt.get_dataset(f'irds:msmarco-passage')
eval_dataset = pt.get_dataset(f'irds:msmarco-passage/dev')
topics = eval_dataset.get_topics()
qrels = eval_dataset.get_qrels()

# import ir_datasets
# eval = ir_datasets.load("msmarco-passage/dev")
# topics = pd.DataFrame(eval.queries_iter())
# qrels = pd.DataFrame(eval.qrels_iter())

In [28]:
os.getcwd()

'/nfs/primary/exposure-fairness'

In [ ]:
trec_qrels = pd.DataFrame()
trec_qrels['query_id'] = qrels['qid']
trec_qrels['Q0'] = 0
trec_qrels['doc_id'] = qrels['docno']
trec_qrels['relevance'] = qrels['label']
trec_qrels.to_csv('/mnt/datasets/cxj/exposure-fairness/qrels_dev.res', sep=' ', index=False, header=False)

In [52]:
# qrels.insert(loc=qrels.columns.get_loc('doc_id'), column='Q0', value = 0)

In [53]:
# topics.sort_values(by='qid').tail()
# qrels = qrels.drop(columns = ['iteration'])

In [54]:
qrels.to_csv('/mnt/datasets/cxj/exposure-fairness/qrels_dev.res', sep=' ', index=False, header=False)

In [69]:
# data_dir = '/nfs/datasets/cxj/retrievability-bias/data/bm25'
# df = pd.read_csv(f'{data_dir}/df_bm25_dev_0.csv', index_col=0).reset_index()

# data_dir = '/nfs/datasets/cxj/retrievability-bias/data/bm25_monot5'
# df = pd.read_csv(f'{data_dir}/df_bm25_monot5_dev_0.csv', index_col=0).reset_index()

# data_dir = '/nfs/datasets/cxj/retrievability-bias/data/rtr_splade'
# df = pd.read_csv(f'{data_dir}/df_rtr_splade_dev_topics_0.csv', index_col=0).reset_index()

# data_dir = '/nfs/datasets/cxj/retrievability-bias/data/tctcolbert'
# df = pd.read_csv(f'{data_dir}/df_tctcolbert_dev_0.csv', index_col=0).reset_index()

# data_dir = '/nfs/datasets/cxj/retrievability-bias/data/bm25_tctcolbert'
# df = pd.read_csv(f'{data_dir}/df_bm25_tctcolbert_dev_0.csv', index_col=0).reset_index()

# csv = '/mnt/datasets/cxj/exposure-fairness/bm25/results.pkl'
# df = pd.read_pickle(csv).reset_index()



# csv = '/mnt/datasets/cxj/exposure-fairness/bm25/df_bm25_dev_0.csv'
# df = pd.read_csv(csv, index_col=0).reset_index()

# csv = '/mnt/datasets/cxj/exposure-fairness/bm25_monot5/df_bm25_monot5_dev_0.csv'
# df = pd.read_csv(csv, index_col=0).reset_index()

# csv = '/mnt/datasets/cxj/exposure-fairness/splade/df_splade_dev_0.csv'
# df = pd.read_csv(csv, index_col=0).reset_index()

# csv = '/mnt/datasets/cxj/exposure-fairness/tctcolbert/df_tctcolbert_dev_0.csv'
# df = pd.read_csv(csv, index_col=0).reset_index()

# csv = '/mnt/datasets/cxj/exposure-fairness/bm25_tctcolbert/df_bm25_tctcolbert_dev_0.csv'
# df = pd.read_csv(csv, index_col=0).reset_index()

pkl = '/mnt/datasets/cxj/exposure-fairness/v1/results.pkl'
df = pd.read_pickle(pkl).reset_index()

In [73]:
df.head()

,index,modelname,num_groups,group_id,mean,std,fast_gini,avg_rscore,min_rscore,max_rscore,fast_gini_min,fast_gini_mean,fast_gini_max
0,0,bm25,500,0,0.342402,0.259357,0.256741,0.342402,0.216679,5.024293,0.204863,0.309739,0.586019
1,1,bm25,500,1,0.431880,0.424004,0.358790,0.431880,0.216679,6.101536,0.204863,0.309739,0.586019
2,2,bm25,500,2,0.355430,0.483629,0.283250,0.355430,0.216679,20.624301,0.204863,0.309739,0.586019
3,3,bm25,500,3,0.355134,0.299612,0.276126,0.355134,0.216679,9.483335,0.204863,0.309739,0.586019
4,4,bm25,500,4,0.333587,0.253145,0.243140,0.333587,0.216679,6.858567,0.204863,0.309739,0.586019

In [57]:
# df_num_groups = pd.DataFrame(res, columns=['modelname', 'num_groups', 'group_id', 'mean', 'std', 'fast_gini', 'avg_rscore', 'min_rscore', 'max_rscore'])
trec_df = pd.DataFrame()
trec_df['query_id'] = df['qid']
trec_df['Q0'] = 'Q0'
trec_df['doc_id'] = df['docid']
trec_df['rank'] = df['rank']
trec_df['score'] = df['score']
trec_df['run_name'] = 'bm25_100'

In [58]:
trec_df.head()

   query_id  Q0   doc_id  rank      score  run_name
0   1048578  Q0  7187236     0  67.528593  bm25_100
1   1048578  Q0  7471198     1  62.121928  bm25_100
2   1048578  Q0  5365326     2  51.958492  bm25_100
3   1048578  Q0  7187241     3  51.947947  bm25_100
4   1048578  Q0  6802210     4  47.925985  bm25_100

In [59]:
trec_df.to_csv('/mnt/datasets/cxj/exposure-fairness/bm25_tctcolbert/bm25_tctcolbert_100.res', sep=' ', index=False, header=False)

In [61]:
import config

In [62]:
config.prog_dir

'/mnt/primary/exposure-fairness'

In [ ]:
# df[(df.modelname=='bm25') & (df.num_groups==10000)]
df.to_csv(f'./results/bm25_gini.csv', index=False)

In [6]:
df.shape

NameError: name 'df' is not defined

In [9]:
df = pd.read_pickle('/nfs/datasets/cxj/exposure-fairness/v1/results.pkl').reset_index(drop=True)

In [10]:
df.head()

,modelname,num_groups,group_id,mean,std,fast_gini,avg_rscore,min_rscore,max_rscore,fast_gini_min,fast_gini_mean,fast_gini_max
0,bm25,500,0,0.342402,0.259357,0.256741,0.342402,0.216679,5.024293,0.204863,0.309739,0.586019
1,bm25,500,1,0.431880,0.424004,0.358790,0.431880,0.216679,6.101536,0.204863,0.309739,0.586019
2,bm25,500,2,0.355430,0.483629,0.283250,0.355430,0.216679,20.624301,0.204863,0.309739,0.586019
3,bm25,500,3,0.355134,0.299612,0.276126,0.355134,0.216679,9.483335,0.204863,0.309739,0.586019
4,bm25,500,4,0.333587,0.253145,0.243140,0.333587,0.216679,6.858567,0.204863,0.309739,0.586019

In [15]:
# df2 = pd.DataFrame()
# df2['query_id'] = df['qid'].astype(str)
# df2['doc_id'] = df['docno'].astype(str)
# df2['score'] = df['score']

ModuleNotFoundError: No module named 'utils'

In [6]:
result = '/nfs/datasets/cxj/exposure-fairness/v1/df_bm25_dev_0.csv'
df = pd.read_csv(result,index_col=0).reset_index(drop=True)
df.head()

,docid,docno,rank,score,query,text
0,7187236,7187236,0,67.528593,cost of endless pools swim spa,The Endless Pool 15' endless pools swim spa Endless Pool Nightmare Buy A Big Spa Instead Great t...
1,7471198,7471198,1,62.121928,cost of endless pools swim spa,Cal Spas is the leading maker of home resort products. Cal Spas makes a great jetted swim spa wi...
2,5365326,5365326,2,51.958492,cost of endless pools swim spa,"How much does a swim spa cost. 1 A top of the line, branded swim spa 9 feet by 16 feet with the..."
3,7187241,7187241,3,51.947947,cost of endless pools swim spa,Disclaimer: Endless Pools (and all other swim spa manufacturers) are intentionally secretive abo...
4,6802210,6802210,4,47.925985,cost of endless pools swim spa,"Endless Pools is one of the first companies to develop this Swim Spa, or “endless” swimming pool..."

In [7]:
df['qid'] = 100

In [8]:
trec_res_file = './test.res'
print(f'saved into {trec_res_file}')
if not os.path.exists(trec_res_file):
    fair_utils.convert_df2Trec(df, trec_res_file, 'res',
                          run_name=f'test')

saved into ./test.res

In [15]:
print(f'calculating metrics')
result_file_measures = 'test_measures.pkl'
trec_res_file = '/nfs/datasets/cxj/exposure-fairness/v1/bm25_tctcolbert_100.res'
trec_qrels_file = '/nfs/datasets/cxj/exposure-fairness/v1/qrels_dev.res'
metrics_dict = fair_utils.cal_metrics(trec_qrels_file, trec_res_file)
for items in metrics_dict.items():
    df[items[0]] = items[1]

calculating metrics
['trec_eval', '-m', 'ndcg_cut.10', '-m', 'map', '-m', 'recip_rank', '-m', 'P.10', '/nfs/datasets/cxj/exposure-fairness/v1/qrels_dev.res', '/nfs/datasets/cxj/exposure-fairness/v1/bm25_tctcolbert_100.res']
{'map': 0.3226, 'recip_rank': 0.3281, 'P_10': 0.0557, 'ndcg_cut_10': 0.3713}

In [16]:
df.head()

,docid,docno,rank,score,query,text,qid,map,recip_rank,P_10,ndcg_cut_10
0,7187236,7187236,0,67.528593,cost of endless pools swim spa,The Endless Pool 15' endless pools swim spa Endless Pool Nightmare Buy A Big Spa Instead Great t...,100,0.3226,0.3281,0.0557,0.3713
1,7471198,7471198,1,62.121928,cost of endless pools swim spa,Cal Spas is the leading maker of home resort products. Cal Spas makes a great jetted swim spa wi...,100,0.3226,0.3281,0.0557,0.3713
2,5365326,5365326,2,51.958492,cost of endless pools swim spa,"How much does a swim spa cost. 1 A top of the line, branded swim spa 9 feet by 16 feet with the...",100,0.3226,0.3281,0.0557,0.3713
3,7187241,7187241,3,51.947947,cost of endless pools swim spa,Disclaimer: Endless Pools (and all other swim spa manufacturers) are intentionally secretive abo...,100,0.3226,0.3281,0.0557,0.3713
4,6802210,6802210,4,47.925985,cost of endless pools swim spa,"Endless Pools is one of the first companies to develop this Swim Spa, or “endless” swimming pool...",100,0.3226,0.3281,0.0557,0.3713

In [ ]:
# ir_measures.calc_aggregate([MAP, RR, nDCG@10], qrels, df2)
df = fair_utils.calc_metrics(df,qrels)

In [ ]:
df['AP(rel=2)'].mean()

In [ ]:
df['AP(rel=2)'].max()

In [ ]:
df['AP(rel=2)'].min()

In [ ]:
csv = '/nfs/datasets/cxj/exposure-fairness/bm25/bm25_dev_grps_500_31.pkl'
df = pd.read_pickle(csv).reset_index()

In [ ]:
df

In [ ]:
import json

def save(dict, file):
    with open(file,'w') as f:
        json.dump(dict, f)

def load(file):
    with open(file,'r') as f:
        ms_docids = json.load(f)
    return ms_docids

def Gini(v):
    v = np.array(v)
    bins = np.linspace(0., 100., 11)
    total = float(np.sum(v))
    yvals = [0]
    for b in bins[1:]:
        bin_vals = v[v <= np.percentile(v, b)]
        bin_fraction = (np.sum(bin_vals) / total) * 100.0
        yvals.append(bin_fraction)
    # perfect equality area
    pe_area = np.trapz(bins, x=bins)
    # lorenz area
    lorenz_area = np.trapz(yvals, x=bins)
    gini_val = (pe_area - lorenz_area) / float(pe_area)
    return gini_val

import statistics
def calc_stats(modelname,df,scoredF, topics):
    if not os.path.exists(scoredF):
        init_msmarco_dict = './results/ms_docids.json'
        docids_score = load(init_msmarco_dict)
        for qid in pt.tqdm(topics['qid']):
            D = df[df['qid'] == np.int64(qid)]
            for dno in D['docno']:
                rank = D[D['docno'] == dno]['rank'].values[0]
                score = 100 / np.log(rank + 2)  # plus 2 because the ranks start from zero
                docids_score[str(dno)] += score
        save(docids_score, scoredF)

    docids_score = load(scoredF)
    scores_df = pd.DataFrame.from_dict(docids_score, orient="index", columns=["score"])
    scores_df = scores_df[scores_df["score"] > 0]
    scores = scores_df['score'].to_list()

    mean = statistics.mean(scores)
    std_dev = statistics.stdev(scores)
    gini_value = Gini(scores)
    return mean, std_dev, gini_value

In [ ]:
Gini([1,2,3])

In [ ]:
modelname="bm25"
nfs_dir = '/nfs/resources/cxj/retrievability-bias'
threshold = 0

csv = f'./df_bm25_0.csv'
df = pd.read_csv(csv, index_col=0).reset_index()

res = []
for group_key in range(0, 700):
    scoredF = f'{nfs_dir}/{modelname}/groups/{modelname}_T{threshold}_G{group_key}.json'
    mean, std, gini = calc_stats(modelname, df, scoredF, None)
    group_res = [modelname, threshold, group_key, mean, std, gini]
    print(group_res)
    res.append(group_res)

print(f'start creating df per threshold')
df_threshold = pd.DataFrame(res, columns=['modelname', 'threshold', 'group_key', 'mean', 'std', 'gini'])
print('saving df per threshold')
df_threshold.to_csv(f'./result_T{threshold}_group700.csv', ignore_index=True)

In [ ]:
# def transform_df(df):
#     df_run = df.rename(columns={'qid':'query_id','docid':'doc_id'})
#     df_run[['query_id','doc_id']] = df_run[['query_id','doc_id']].astype(str)

#     return df_run

In [ ]:
docids_score = load('./bm25_docids_100_threshold_60.json')

In [ ]:
scores_df = pd.DataFrame.from_dict(docids_score, orient="index", columns=["score"])
# scores_df.tail()

In [ ]:
scores_df = scores_df[scores_df["score"] > 0]
scores = scores_df['score'].to_list()
len(scores)

In [ ]:
import glob
res = pd.DataFrame()
for file in glob.glob('/nfs/resources/cxj/retrievability-bias/colbert/df_colbert_90*.csv'):
    print(file)
    df = pd.concat([res,pd.read_csv(file,index_col=0).reset_index()],ignore_index=True)

df.to_csv('/nfs/resources/cxj/retrievability-bias/colbert/df_colbert_90.csv',index=False)

In [ ]:
df.shape

In [ ]:
grouped = df.groupby('qid')
len(grouped.groups.keys())

In [ ]:
calc_stats('colbert',df,30,topics)

In [ ]:
topics.shape

In [ ]:
df2 = pd.DataFrame()
df2['query_id'] = df['qid'].astype(str)
df2['doc_id'] = df['docno'].astype(str)
df2['score'] = df['score']

In [ ]:
ir_measures.calc_aggregate([RR, nDCG@10], qrels, df2)

In [ ]:
import glob
res = pd.DataFrame()
for file in glob.glob('/nfs/resources/cxj/retrievability-bias/colbert/df_colbert_90*.csv'):
    print(file)
    df = pd.concat([res,pd.read_csv(file,index_col=0).reset_index()],ignore_index=True)

In [ ]:
df.shape

In [ ]:
grouped = df.groupby('qid')
len(grouped.groups.keys())

In [ ]:
calc_stats('colbert',df,90,topics)

In [ ]:
df2 = pd.DataFrame()
df2['query_id'] = df['qid'].astype(str)
df2['doc_id'] = df['docno'].astype(str)
df2['score'] = df['score']

In [ ]:
ir_measures.calc_aggregate([RR, nDCG@10], qrels, df2)

In [ ]:
res = pd.DataFrame()
for file in glob.glob('/nfs/resources/cxj/retrievability-bias/colbert/df_bm25_colbert_30_*.csv'):
    print(file)
    df = pd.concat([res,pd.read_csv(file,index_col=0).reset_index()],ignore_index=True)

In [ ]:
df.shape

In [ ]:
grouped = df.groupby('qid')
len(grouped.groups.keys())

In [ ]:
calc_stats('bm25_colbert',df,30,topics)

In [ ]:
df2 = pd.DataFrame()
df2['query_id'] = df['qid'].astype(str)
df2['doc_id'] = df['docno'].astype(str)
df2['score'] = df['score']

In [ ]:
ir_measures.calc_aggregate([RR, nDCG@10], qrels, df2)

In [ ]:
# df = pd.read_csv('/nfs/resources/cxj/retrievability-bias/bm25/df_bm25_monot5_30_.csv', index_col=0).reset_index()
df = pd.read_csv('/nfs/resources/cxj/retrievability-bias/bm25/df_bm25_monot5_60_.csv', index_col=0).reset_index()

In [ ]:
df.shape

In [ ]:
calc_stats('bm25_monot5',df,60,topics)

In [ ]:
df2 = pd.DataFrame()
df2['query_id'] = df['qid'].astype(str)
df2['doc_id'] = df['docno'].astype(str)
df2['score'] = df['score']

In [ ]:
ir_measures.calc_aggregate([RR, nDCG@10], qrels, df2)

In [ ]:
# df = pd.read_csv('/nfs/resources/cxj/retrievability-bias/bm25/df_bm25_monot5_30_.csv', index_col=0).reset_index()
# df = pd.read_csv('/nfs/resources/cxj/retrievability-bias/bm25/df_bm25_monot5_60_.csv', index_col=0).reset_index()
df = pd.read_csv('/nfs/resources/cxj/retrievability-bias/bm25/df_bm25_monot5_90_.csv', index_col=0).reset_index()

In [ ]:
df.shape

In [ ]:
calc_stats('bm25_monot5',df,90,topics)

In [ ]:
df2 = pd.DataFrame()
df2['query_id'] = df['qid'].astype(str)
df2['doc_id'] = df['docno'].astype(str)
df2['score'] = df['score']

In [ ]:
ir_measures.calc_aggregate([RR, nDCG@10], qrels, df2)

In [ ]:

results_monot5_100.csv
results_splade_100.csv
results_colbert_100.csv
results_bm25_colbert_100.csv

In [ ]:
import tqdm

In [ ]:
df = pd.read_csv('/nfs/resources/cxj/retrievability-bias/splade/df_splade_30.csv', index_col=0).reset_index()

In [ ]:
df.shape

In [ ]:
calc_stats('splade',df,30,topics)

In [ ]:
df = pd.read_csv('/nfs/datasets/cxj/retrievability-bias/results_bm25_100.csv', index_col=0).reset_index()
calc_stats('bm25',df,0,topics)

In [ ]:
# df = pd.read_csv('/nfs/datasets/cxj/retrievability-bias/results_monot5_100.csv', index_col=0).reset_index()
# calc_stats('bm25_monot5',df,0,topics)

In [ ]:
# df = pd.read_csv('/nfs/datasets/cxj/retrievability-bias/results_splade_100.csv', index_col=0).reset_index()
# calc_stats('splade',df,0,topics)

In [ ]:
# df = pd.read_csv('/nfs/datasets/cxj/retrievability-bias/results_colbert_100.csv', index_col=0).reset_index()
# calc_stats('colbert',df,0,topics)

In [ ]:
# df = pd.read_csv('/nfs/datasets/cxj/retrievability-bias/results_bm25_colbert_100.csv', index_col=0).reset_index()
# calc_stats('bm25_colbert',df,0,topics)

In [ ]:
df2 = pd.DataFrame()
df2['query_id'] = df['qid'].astype(str)
df2['doc_id'] = df['docno'].astype(str)
df2['score'] = df['score']

In [ ]:
ir_measures.calc_aggregate([RR, nDCG@10], qrels, df2)

In [ ]:
df = pd.read_csv('/nfs/resources/cxj/retrievability-bias/bm25/df_bm25_30.csv', index_col=0).reset_index()
# df = pd.read_csv('/nfs/resources/cxj/retrievability-bias/bm25/df_bm25_60.csv', index_col=0).reset_index()

In [ ]:
df.shape

In [ ]:
df2 = pd.DataFrame()
df2['query_id'] = df['qid'].astype(str)
df2['doc_id'] = df['docno'].astype(str)
df2['score'] = df['score']

In [ ]:
calc_stats('bm25',df,60,topics)

In [ ]:
ir_measures.calc_aggregate([RR, nDCG@10], qrels, df2)

In [ ]:
df = pd.read_csv('/nfs/resources/cxj/retrievability-bias/bm25/df_bm25_90.csv', index_col=0).reset_index()

In [ ]:
df.shape

In [ ]:
df2 = pd.DataFrame()
df2['query_id'] = df['qid'].astype(str)
df2['doc_id'] = df['docno'].astype(str)
df2['score'] = df['score']

In [ ]:
calc_stats('bm25',df,90,topics)

In [ ]:
ir_measures.calc_aggregate([RR, nDCG@10], qrels, df2)

In [ ]:
df = pd.read_csv('/nfs/resources/cxj/retrievability-bias/colbert/df_bm25_colbert_60_0.csv', index_col=0).reset_index()

In [ ]:
df.shape

In [ ]:
df2 = pd.DataFrame()
df2['query_id'] = df['qid'].astype(str)
df2['doc_id'] = df['docno'].astype(str)
df2['score'] = df['score']

In [ ]:
calc_stats('bm25_colbert',df,60,topics)

In [ ]:
ir_measures.calc_aggregate([nDCG@10, RR], qrels, df2)

In [ ]:
df = pd.read_csv('/nfs/resources/cxj/retrievability-bias/colbert/df_bm25_colbert_90_0.csv', index_col=0).reset_index()

In [ ]:
df.shape

In [ ]:
df2 = pd.DataFrame()
df2['query_id'] = df['qid'].astype(str)
df2['doc_id'] = df['docno'].astype(str)
df2['score'] = df['score']

In [ ]:
calc_stats('bm25_colbert',df,90,topics)

In [ ]:
ir_measures.calc_aggregate([nDCG@10, RR], qrels, df2)

In [ ]:
df = pd.read_csv('/nfs/resources/cxj/retrievability-bias/splade/df_splade_30.csv', index_col=0).reset_index()

In [ ]:
df.shape

In [ ]:

df2 = pd.DataFrame()
df2['query_id'] = df['qid'].astype(str)
df2['doc_id'] = df['docno'].astype(str)
df2['score'] = df['score']

In [ ]:
df.head()

In [ ]:
calc_stats('splade',df,30,topics)

In [ ]:
ir_measures.calc_aggregate([RR, nDCG@10], qrels, df2)

In [ ]:
df = pd.read_csv('/nfs/resources/cxj/retrievability-bias/splade/df_splade_60.csv', index_col=0).reset_index()

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
calc_stats('splade',df,60,topics)

In [ ]:
df2 = pd.DataFrame()
df2['query_id'] = df['qid'].astype(str)
df2['doc_id'] = df['docno'].astype(str)
df2['score'] = df['score']
ir_measures.calc_aggregate([RR, nDCG@10], qrels, df2)

In [ ]:
df = pd.read_csv('./results/expt_results.csv')
df = df.round(2)
print(df)

In [ ]:
x = [0, 30, 60, 90]

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
gini_bm25 = df.loc[df['Model'] == 'BM25',['Gini','Gini.1','Gini.2','Gini.3']]
gini_monot5 = df.loc[df['Model'] == 'BM25>>Mono-T5',['Gini','Gini.1','Gini.2','Gini.3']]
gini_Splade = df.loc[df['Model'] == 'Splade',['Gini','Gini.1','Gini.2','Gini.3']]
gini_ColBERT = df.loc[df['Model'] == 'ColBERT',['Gini','Gini.1','Gini.2','Gini.3']]
gini_bm25_ColBERT = df.loc[df['Model'] == 'BM25>>ColBERT',['Gini','Gini.1','Gini.2','Gini.3']]

In [ ]:
dfg_bm25 = df.loc[df['Model'] == 'BM25',['nDCG@10','nDCG@10.1','nDCG@10.2','nDCG@10.3']]
dfg_monot5 = df.loc[df['Model'] == 'BM25>>Mono-T5',['nDCG@10','nDCG@10.1','nDCG@10.2','nDCG@10.3']]
dfg_Splade = df.loc[df['Model'] == 'Splade',['nDCG@10','nDCG@10.1','nDCG@10.2','nDCG@10.3']]
dfg_ColBERT = df.loc[df['Model'] == 'ColBERT',['nDCG@10','nDCG@10.1','nDCG@10.2','nDCG@10.3']]
dfg_bm25_ColBERT = df.loc[df['Model'] == 'BM25>>ColBERT',['nDCG@10','nDCG@10.1','nDCG@10.2','nDCG@10.3']]

In [ ]:
fig, (ax1,ax2) = plt.subplots(nrows=1, ncols=2, figsize=(12, 4))
plt.subplots_adjust(hspace=1, wspace=0.5, left=0.1)

y = gini_bm25.values[0]
ax1.plot(x,y,label='BM25', marker='o')
y = gini_monot5.values[0]
ax1.plot(x,y,label='BM25>>Mono-T5', marker='o')
y = gini_Splade.values[0]
ax1.plot(x,y,label='Splade', marker='o')
# y = gini_ColBERT.values[0]
# ax1.plot(x,y,label='ColBERT', marker='o')
y = gini_bm25_ColBERT.values[0]
ax1.plot(x,y,label='BM25>>ColBERT', marker='o')

ax1.set_title('Fairness')
ax1.set_xlabel('% pruned')
ax1.set_ylabel('Gini Coefficient')
ax1.set_xticks(ticks = [i for i in range(0,100,10)])
ax1.legend(fontsize=8)

y = dfg_bm25.values[0]
ax2.plot(x,y,label='BM25', marker='o')
y = dfg_monot5.values[0]
ax2.plot(x,y,label='BM25>>Mono-T5', marker='o')
y = dfg_Splade.values[0]
ax2.plot(x,y,label='Splade', marker='o')
# y = dfg_ColBERT.values[0]
# ax2.plot(x,y,label='ColBERT', marker='o')
y = dfg_bm25_ColBERT.values[0]
ax2.plot(x,y,label='BM25>>ColBERT', marker='o')

ax2.set_title('Effectiveness')
ax2.set_xlabel('% pruned')
ax2.set_ylabel('nDCG@10')
ax2.set_xticks(ticks = [i for i in range(0,100,10)])
ax2.legend(fontsize=8)

plt.savefig('./results/all_results.pdf', format="pdf", bbox_inches="tight", pad_inches=0.3)
plt.show()

In [ ]:
plt.figure(figsize=(7,5))
y = dfg_bm25.values[0]
plt.plot(x,y,label='BM25')
y = dfg_monot5.values[0]
plt.plot(x,y,label='BM25>>Mono-T5')
y = dfg_Splade.values[0]
plt.plot(x,y,label='Splade')
# y = dfg_ColBERT.values[0]
# plt.plot(x,y,label='ColBERT')
y = dfg_bm25_ColBERT.values[0]
plt.plot(x,y,label='BM25>>ColBERT')

plt.title('Effectiveness When the Corpus Pruned')
plt.xlabel('% pruned')
plt.ylabel('nDCG@10')
plt.xticks(ticks = [i for i in range(0,100,10)])
plt.legend(fontsize=7)
plt.show

In [ ]:
# df.plot(x='Gini', y='nDCG@10', kind='line', title='Sales Over Years',xlabel)

# import seaborn as sns
# import matplotlib.pyplot as plt

# sns.lineplot(data=df, x='Gini', y='nDCG@10')
# plt.title('Sales Over Years')
# plt.ylabel('Sales (in Units)')
# plt.show()

In [ ]:
sampled_queries = pd.read_csv('./results/smapled_dev_queries_50.csv', index_col=0).reset_index()

In [ ]:
sampled_queries.head(100)

In [ ]:
grouped = sampled_queries.groupby('cluster')
print(len(grouped.groups.keys()))

In [ ]:
import statistics
def calc_stats_v2(modelname,df,scoredF, queries_df, cluster_id):
    # if not os.path.exists(scoredF):
    qids_to_keep = queries_df['qid'].to_list()
    mask = np.logical_or.reduce([df["qid"] == val for val in qids_to_keep])
    df_filtered = df[mask]
    grouped = df_filtered.groupby("docno")[['r_score']].sum().reset_index()
    # grouped.to_csv(scoredF,index=False)

    scores = grouped['r_score'].to_list()

    if len(scores) == 0:
        print(queries_df)
        # return 0.0, 0.0, 0.0
        return 0
    else:
        return 1
    # mean = statistics.mean(scores)
    # std_dev = statistics.stdev(scores)
    # gini_value = Gini(scores)
    # return mean, std_dev, gini_value

In [ ]:
threshold = 30

import sys
modelname = 'bm25'

csv2 = f'/nfs/resources/cxj/retrievability-bias/{modelname}/df_{modelname}_rscore_{threshold}.csv'
df_bm25 = pd.read_csv(csv2, index_col=0).reset_index()

In [ ]:
modelname = 'colbert'
csv2 = f'/nfs/resources/cxj/retrievability-bias/{modelname}/df_{modelname}_rscore_{threshold}.csv'
df_colbert = pd.read_csv(csv2, index_col=0).reset_index()

sampled_queries = pd.read_csv(f'{nfs_dir}/sampled_dev_queries_50.csv', index_col=0).reset_index()
grouped = sampled_queries.groupby('cluster')

for cluster_id, queries_df in grouped:
    res_q = calc_stats_v2(modelname, df_colbert, scoredF, queries_df, cluster_id)
    if res_q == 0:
        break

In [ ]:
modelname = 'bm25_colbert'
csv2 = f'/nfs/resources/cxj/retrievability-bias/{modelname}/df_{modelname}_rscore_{threshold}.csv'
df_bm25_colbert = pd.read_csv(csv2, index_col=0).reset_index()

sampled_queries = pd.read_csv(f'{nfs_dir}/sampled_dev_queries_50.csv', index_col=0).reset_index()
grouped = sampled_queries.groupby('cluster')

for cluster_id, queries_df in grouped:
    res_q = calc_stats_v2(modelname, df_bm25_colbert, scoredF, queries_df, cluster_id)
    if res_q == 0:
        break

In [ ]:
df_bm25.dtypes

In [ ]:
df_bm25[df_bm25['qid'].isin([831537,704496])]

In [ ]:
df_bm25_colbert[df_bm25_colbert['qid'].isin([831537,704496])]

In [ ]:
df_bm25_colbert['qid'].max()

In [ ]:
bm25>>colbert

qid                        query  cluster
8114  831537  what is the meaning of tank      208
8115  704496             what is a turret      208

In [ ]:
df[df['qid'].isin([831537,704496])]

In [ ]:
         qid                             query  cluster
177   434309               ki kocho definition        5
178   990128                       who is kipo        5
179  1052311                      what is kilo        5
180   990146                   who is kiki dee        5
181  1082530  what does the word kilogram mean        5
182   688210        what is a kio genetic diet        5
183  1071614                   what is a kilim        5
184  1054192             what is having a kiki        5
185   997449                where is the kihei        5
186  1079014                     chiki meaning        5
187   763329                      what is kief        5
188   174612                      doki meaning        5
189  1077008                     chito meaning        5
190   133194              definition of chipko        5

In [ ]:
df_colbert[df_colbert['qid'].isin([434309,990128])]

In [ ]:
df_colbert.head()

In [ ]:
df[df['qid'].isin([434309,990128])]

In [ ]:
import pyterrier as pt
if not pt.java.started():
    pt.java.init()

In [ ]:


queries = queries.rename(columns={'query_id':'qid','text': 'query'})

# queries_dev = [{"_id": q.query_id, "text": q.text} for q in queries[:50]]

index = pt.IndexFactory.of("/nfs/datasets/cxj/retrievability-bias/data/bm25/t5-base-msmarco-epoch-5-nostemmer-nostopwords-index--4.570959091186523")
bm25 = pt.terrier.Retriever(index, wmodel="BM25") % 100
df = bm25.transform(queries[:50])

In [ ]:
df.head()