In [2]:
import numpy as np
import pandas as pd

pd.set_option('display.max_rows', None)
import pyterrier as pt
if not pt.java.started():
    pt.java.init()

import os, sys
os.chdir('/mnt/primary/exposure-fairness')
import config, fair_utils, convert

Java started and loaded: pyterrier.java, pyterrier.terrier.java [version=5.11 (build: craig.macdonald 2025-01-13 21:29), helper_version=0.0.8]
msmarco-passage/dev documents: 100%|██████████| 8841823/8841823 [00:26<00:00, 332692.88it/s]

In [175]:
import importlib
# importlib.reload(config)
# importlib.reload(fair_utils)
importlib.reload(convert)

In [97]:
modelname = "splade"
granu = 10000
km = config.kmeans_vec[0]
res_path = f'{config.data_dir}/{modelname}_{config.dataset_name}_{config.topics_name}_{config.retrieve_num}.res'
print(res_path)
print(f'processing {res_path}')
doc_df = fair_utils.convert_res2df(res_path)

query_res_path = f'{config.data_dir}/grouped_queries/clustered_dev_queries_by_{granu}_{km}.res'
q_df = fair_utils.convert_query_res2df(query_res_path)
merged_df = doc_df.merge(q_df[['qid','cluster']], on='qid', how='left')

run_name = os.path.splitext(res_path)[0].split('/')[-1] + '_with_groupid'
merged_file_path = f'{config.data_dir}/{run_name}.res'
fair_utils.convert_df2trec(merged_df,merged_file_path)

processing /mnt/datasets/cxj/exposure-fairness/splade_msmarco-passage_dev_100.res
converting /mnt/datasets/cxj/exposure-fairness/splade_msmarco-passage_dev_100.res into a dataframe
done
converting /mnt/datasets/cxj/exposure-fairness/grouped_queries/clustered_dev_queries_by_10000_scikit_dense.res into a dataframe
done
saving into /mnt/datasets/cxj/exposure-fairness/splade_msmarco-passage_dev_100_with_groupid.res
saved

'/mnt/datasets/cxj/exposure-fairness/splade_msmarco-passage_dev_100_with_groupid.res'

In [98]:
doc_df.head()

,qid,Q0,docid,rank,score,run,docno,query
0,1048578,Q0,7187234,0,1345.927870,splade_msmarco-passage_dev_100,7187234,cost of endless pools swim spa
1,1048578,Q0,2078221,1,1324.328383,splade_msmarco-passage_dev_100,2078221,cost of endless pools swim spa
2,1048578,Q0,5365326,2,1322.672730,splade_msmarco-passage_dev_100,5365326,cost of endless pools swim spa
3,1048578,Q0,4567130,3,1308.076251,splade_msmarco-passage_dev_100,4567130,cost of endless pools swim spa
4,1048578,Q0,5365328,4,1250.860573,splade_msmarco-passage_dev_100,5365328,cost of endless pools swim spa

In [99]:
q_df.head()

       qid                           query cluster
0  1048578  cost of endless pools swim spa    5123
1  1048579                    what is pcnt    2941
2  1048580               what is pcb waste    7728
3  1048581                    what is pbis    1232
4  1048582                  what is paysky    4445

In [110]:
# q_df.shape
# doc_df.shape
# q_df[['qid', 'cluster']].head()
# q_df[q_df['query'] == '']
topics = config.topics
topics[topics['qid'] == '388892']

          qid query
53300  388892

In [104]:
merged_df = doc_df.merge(q_df[['qid', 'cluster']], on='qid', how='left')

In [107]:
merged_df[merged_df['query']== ''].head()

,qid,Q0,docid,rank,score,run,docno,query,cluster
5330000,388892,Q0,8332088,0,1019.864300,splade_msmarco-passage_dev_100,8332088,,NaN
5330001,388892,Q0,5324244,1,949.213740,splade_msmarco-passage_dev_100,5324244,,NaN
5330002,388892,Q0,8332089,2,926.069976,splade_msmarco-passage_dev_100,8332089,,NaN
5330003,388892,Q0,7864268,3,919.262918,splade_msmarco-passage_dev_100,7864268,,NaN
5330004,388892,Q0,4132200,4,889.437471,splade_msmarco-passage_dev_100,4132200,,NaN

In [136]:
topics = config.topics
topics[topics['query'] == '']

          qid query
53300  388892

In [158]:
:query_path = f'{config.data_dir}/grouped_queries/clustered_dev_queries_by_{granu}_{km}.csv'
print(query_path)
query_df = pd.read_csv(query_path, index_col=0).reset_index()

doc_path = '/mnt/datasets/cxj/exposure-fairness/splade_msmarco-passage_dev_100.res'
print(doc_path)
doc_df = convert.convert_res2docdf(doc_path)

merged_df2 = doc_df.merge(query_df[['qid','cluster']], on='qid', how='left')

/mnt/datasets/cxj/exposure-fairness/grouped_queries/clustered_dev_queries_by_10000_scikit_dense.csv
/mnt/datasets/cxj/exposure-fairness/splade_msmarco-passage_dev_100.res
converting /mnt/datasets/cxj/exposure-fairness/splade_msmarco-passage_dev_100.res into a dataframe
done

In [161]:
csv = f'{config.data_dir}/{modelname}_{config.dataset_name}_{config.topics_name}_{config.retrieve_num}.csv'
df = pd.read_csv(csv, index_col=0).reset_index()

In [162]:
df = df.sort_values(by=['qid'])

       qid    docid    docno        score  rank
0  1048578  7187234  7187234  1345.927870     0
1  1048578  2078221  2078221  1324.328383     1
2  1048578  5365326  5365326  1322.672730     2
3  1048578  4567130  4567130  1308.076251     3
4  1048578  5365328  5365328  1250.860573     4

In [159]:
# query_df.head()
query_df[query_df['qid'] == 388892]

          qid query  cluster
53300  388892   NaN     9989

In [190]:
merged_df2[(merged_df2['qid'] == 388892) ]

,qid,Q0,docid,rank,score,run,cluster
5330000,388892,Q0,8332088,0,1019.864300,splade_msmarco-passage_dev_100,9989
5330001,388892,Q0,5324244,1,949.213740,splade_msmarco-passage_dev_100,9989
5330002,388892,Q0,8332089,2,926.069976,splade_msmarco-passage_dev_100,9989
5330003,388892,Q0,7864268,3,919.262918,splade_msmarco-passage_dev_100,9989
5330004,388892,Q0,4132200,4,889.437471,splade_msmarco-passage_dev_100,9989
5330005,388892,Q0,315209,5,877.450503,splade_msmarco-passage_dev_100,9989
5330006,388892,Q0,5434018,6,868.961125,splade_msmarco-passage_dev_100,9989
5330007,388892,Q0,8332090,7,866.271324,splade_msmarco-passage_dev_100,9989
5330008,388892,Q0,5526580,8,863.445983,splade_msmarco-passage_dev_100,9989
5330009,388892,Q0,1408213,9,861.304322,splade_msmarco-passage_dev_100,9989
5330010,388892,Q0,1408206,10,860.903590,splade_msmarco-passage_dev_100,9989
5330011,388892,Q0,3999269,11,857.262769,splade_msmarco-passage_dev_100,9989
5330012,388892,Q0,3902300,12,854.062130,splade_msmarco-passage_dev_100,9989
5330013,388892,Q0,6398427,13,851.392769,splade_msmarco-passage_dev_100,9989
5330014,388892,Q0,2125177,14,849.471976,splade_msmarco-passage_dev_100,9989
5330015,388892,Q0,169509,15,846.659593,splade_msmarco-passage_dev_100,9989
5330016,388892,Q0,3902304,16,845.637285,splade_msmarco-passage_dev_100,9989
5330017,388892,Q0,2979451,17,843.958026,splade_msmarco-passage_dev_100,9989
5330018,388892,Q0,4119210,18,832.324381,splade_msmarco-passage_dev_100,9989
5330019,388892,Q0,6915351,19,830.085890,splade_msmarco-passage_dev_100,9989
5330020,388892,Q0,8833724,20,828.494732,splade_msmarco-passage_dev_100,9989
5330021,388892,Q0,8554727,21,827.139485,splade_msmarco-passage_dev_100,9989
5330022,388892,Q0,8438874,22,826.052258,splade_msmarco-passage_dev_100,9989
5330023,388892,Q0,3240364,23,823.868311,splade_msmarco-passage_dev_100,9989
5330024,388892,Q0,2155296,24,823.780102,splade_msmarco-passage_dev_100,9989
5330025,388892,Q0,2026790,25,822.684381,splade_msmarco-passage_dev_100,9989
5330026,388892,Q0,2786751,26,819.955287,splade_msmarco-passage_dev_100,9989
5330027,388892,Q0,4253746,27,817.119507,splade_msmarco-passage_dev_100,9989
5330028,388892,Q0,4173294,28,816.130864,splade_msmarco-passage_dev_100,9989
5330029,388892,Q0,3365553,29,814.720970,splade_msmarco-passage_dev_100,9989
5330030,388892,Q0,1698855,30,813.204894,splade_msmarco-passage_dev_100,9989
5330031,388892,Q0,1797226,31,810.679138,splade_msmarco-passage_dev_100,9989
5330032,388892,Q0,4261096,32,809.986849,splade_msmarco-passage_dev_100,9989
5330033,388892,Q0,7062256,33,809.671803,splade_msmarco-passage_dev_100,9989
5330034,388892,Q0,5703797,34,807.688140,splade_msmarco-passage_dev_100,9989
5330035,388892,Q0,3540366,35,803.539654,splade_msmarco-passage_dev_100,9989
5330036,388892,Q0,4552501,36,803.067232,splade_msmarco-passage_dev_100,9989
5330037,388892,Q0,1471569,37,800.841577,splade_msmarco-passage_dev_100,9989
5330038,388892,Q0,2484668,38,800.710699,splade_msmarco-passage_dev_100,9989
5330039,388892,Q0,1709259,39,800.377244,splade_msmarco-passage_dev_100,9989
5330040,388892,Q0,6330096,40,798.272991,splade_msmarco-passage_dev_100,9989
5330041,388892,Q0,7622444,41,798.111906,splade_msmarco-passage_dev_100,9989
5330042,388892,Q0,1739667,42,795.981496,splade_msmarco-passage_dev_100,9989
5330043,388892,Q0,8393655,43,795.436788,splade_msmarco-passage_dev_100,9989
5330044,388892,Q0,7683681,44,794.818942,splade_msmarco-passage_dev_100,9989
5330045,388892,Q0,954625,45,792.920634,splade_msmarco-passage_dev_100,9989
5330046,388892,Q0,5907496,46,788.988206,splade_msmarco-passage_dev_100,9989
5330047,388892,Q0,7810280,47,787.692763,splade_msmarco-passage_dev_100,9989
5330048,388892,Q0,3071433,48,786.075483,splade_msmarco-passage_dev_100,9989
5330049,388892,Q0,6828731,49,785.537460,splade_msmarco-passage_dev_100,9989
5330050,388892,Q0,797115,50,784.999071,splade_msmarco-passage_dev_100,9989
5330051,388892,Q0,1575706,51,784.829207,splade_msmarco-passage_dev_100,9989
5330052,388892,Q0,8277086,52,783.943249,splade_msmarco-passage_dev_100,9989
5330053,388892,Q0,3696756,53,783.714072,splade_msmarco-passage_dev_100,9989
5330054,388892,Q0,358866,54,783.629058,splade_msmarco-passage_dev_100,9989
5330055,388892,Q0,358863,55,780.638712,splade_msmarco-passage_dev_100,9989
5330056,388892,Q0,8082989,56,779.939689,splade_msmarco-passage_dev_100,9989
5330057,388892,Q0,5705633,57,779.656256,splade_msmarco-passage_dev_100,9989
5330058,388892,Q0,7519893,58,778.943967,splade_msmarco-passage_dev_100,9989
5330059,388892,Q0,6162009,59,776.708999,splade_msmarco-passage_dev_100,9989
5330060,388892,Q0,982601,60,776.605553,splade_msmarco-passage_dev_100,9989
5330061,388892,Q0,765340,61,775.395837,splade_msmarco-passage_dev_100,9989
5330062,388892,Q0,8375830,62,774.395100,splade_msmarco-passage_dev_100,9989
5330063,388892,Q0,8237774,63,773.169191,splade_msmarco-passage_dev_100,9989
5330064,388892,Q0,669109,64,772.644510,splade_msmarco-passage_dev_100,9989
5330065,388892,Q0,3085702,65,772.040253,splade_msmarco-passage_dev_100,9989
5330066,388892,Q0,2885407,66,771.511630,splade_msmarco-passage_dev_100,9989
5330067,388892,Q0,8712431,67,770.907993,splade_msmarco-passage_dev_100,9989
5330068,388892,Q0,3295914,68,769.544232,splade_msmarco-passage_dev_100,9989
5330069,388892,Q0,8264918,69,769.387217,splade_msmarco-passage_dev_100,9989
5330070,388892,Q0,174573,70,769.214646,splade_msmarco-passage_dev_100,9989
5330071,388892,Q0,8315256,71,768.677388,splade_msmarco-passage_dev_100,9989
5330072,388892,Q0,7618911,72,767.238291,splade_msmarco-passage_dev_100,9989
5330073,388892,Q0,3286304,73,767.039516,splade_msmarco-passage_dev_100,9989
5330074,388892,Q0,3477973,74,766.971449,splade_msmarco-passage_dev_100,9989
5330075,388892,Q0,8746064,75,766.227517,splade_msmarco-passage_dev_100,9989
5330076,388892,Q0,7360948,76,766.014366,splade_msmarco-passage_dev_100,9989
5330077,388892,Q0,6902864,77,765.532992,splade_msmarco-passage_dev_100,9989
5330078,388892,Q0,6136732,78,765.451691,splade_msmarco-passage_dev_100,9989
5330079,388892,Q0,5983991,79,765.383630,splade_msmarco-passage_dev_100,9989
5330080,388892,Q0,3902299,80,765.194372,splade_msmarco-passage_dev_100,9989
5330081,388892,Q0,1440793,81,764.491212,splade_msmarco-passage_dev_100,9989
5330082,388892,Q0,6351173,82,764.441322,splade_msmarco-passage_dev_100,9989
5330083,388892,Q0,3744716,83,764.224867,splade_msmarco-passage_dev_100,9989
5330084,388892,Q0,5787972,84,764.049896,splade_msmarco-passage_dev_100,9989
5330085,388892,Q0,378811,85,763.654544,splade_msmarco-passage_dev_100,9989
5330086,388892,Q0,1339820,86,762.701470,splade_msmarco-passage_dev_100,9989
5330087,388892,Q0,1372561,87,761.621343,splade_msmarco-passage_dev_100,9989
5330088,388892,Q0,1619395,88,761.604923,splade_msmarco-passage_dev_100,9989
5330089,388892,Q0,2146678,89,761.586635,splade_msmarco-passage_dev_100,9989
5330090,388892,Q0,4106861,90,761.361242,splade_msmarco-passage_dev_100,9989
5330091,388892,Q0,1101349,91,761.335722,splade_msmarco-passage_dev_100,9989
5330092,388892,Q0,4256283,92,761.206198,splade_msmarco-passage_dev_100,9989
5330093,388892,Q0,7373229,93,760.335354,splade_msmarco-passage_dev_100,9989
5330094,388892,Q0,6013863,94,759.137108,splade_msmarco-passage_dev_100,9989
5330095,388892,Q0,1970694,95,758.864380,splade_msmarco-passage_dev_100,9989
5330096,388892,Q0,1372553,96,758.830283,splade_msmarco-passage_dev_100,9989
5330097,388892,Q0,1379180,97,758.210606,splade_msmarco-passage_dev_100,9989
5330098,388892,Q0,4517444,98,757.417299,splade_msmarco-passage_dev_100,9989
5330099,388892,Q0,2825705,99,757.344219,splade_msmarco-passage_dev_100,9989

In [151]:
merged_df2.head()

       qid    docid    docno        score  rank  cluster
0  1048578  7187234  7187234  1345.927870     0     5123
1  1048578  2078221  2078221  1324.328383     1     5123
2  1048578  5365326  5365326  1322.672730     2     5123
3  1048578  4567130  4567130  1308.076251     3     5123
4  1048578  5365328  5365328  1250.860573     4     5123

TypeError: convert_res2docdf() got an unexpected keyword argument 'columns'

In [167]:
df.head()

      qid  Q0    docid  rank      score                           run  cluster
0  199177  Q0  6694981    97  10.922701  bm25_msmarco-passage_dev_100        0
1  743456  Q0  3609042     4  25.286708  bm25_msmarco-passage_dev_100        0
2  743456  Q0  3609038     3  26.386765  bm25_msmarco-passage_dev_100        0
3  743456  Q0  2376243     2  26.572051  bm25_msmarco-passage_dev_100        0
4  743456  Q0  7589344     1  26.984184  bm25_msmarco-passage_dev_100        0

In [168]:
res_path = f'{config.data_dir}/bm25_{config.dataset_name}_{config.topics_name}_{config.retrieve_num}.res'
print(f'processing {res_path}')
doc_df = convert.convert_res2docdf(res_path)

query_path = f'{config.data_dir}/grouped_queries/clustered_dev_queries_by_500_scikit_dense.csv'
query_df = pd.read_csv(query_path, index_col=0).reset_index()
merged_df = doc_df.merge(query_df[['qid', 'cluster']], on='qid', how='left')
merged_df = merged_df.sort_values(by=['cluster'])

processing /mnt/datasets/cxj/exposure-fairness/bm25_msmarco-passage_dev_100.res
converting /mnt/datasets/cxj/exposure-fairness/bm25_msmarco-passage_dev_100.res into a dataframe
done

In [172]:
query_df.columns

Index(['qid', 'query', 'cluster'], dtype='object')

In [171]:
doc_df.columns

Index(['qid', 'Q0', 'docid', 'rank', 'score', 'run'], dtype='object')

In [170]:
merged_df.columns

Index(['qid', 'Q0', 'docid', 'rank', 'score', 'run', 'cluster'], dtype='object')

In [22]:
# csv = '/mnt/datasets/cxj/exposure-fairness/bm25_msmarco-passage_dev_100.csv'
# df = pd.read_csv(csv, index_col=0).reset_index()
csv = f'{config.data_dir}/bm25_{config.dataset_name}_{config.topics_name}_{config.retrieve_num}.csv'
df = pd.read_csv(csv, index_col=0).reset_index()

In [23]:
# df[(df['qid'] == 388892)]
df.head()

       qid    docid    docno      score  rank                           query
0  1048578  7187236  7187236  67.528593     0  cost of endless pools swim spa
1  1048578  7471198  7471198  62.121928     1  cost of endless pools swim spa
2  1048578  5365326  5365326  51.958492     2  cost of endless pools swim spa
3  1048578  7187241  7187241  51.947947     3  cost of endless pools swim spa
4  1048578  6802210  6802210  47.925985     4  cost of endless pools swim spa

In [29]:
res = f'{config.data_dir}/splade_{config.dataset_name}_{config.topics_name}_{config.retrieve_num}.res'
print(res)
columns=["qid", "Q0", "docid", "rank", "score", "run"]
df = convert.convert_res2docdf(res, columns=columns)

/mnt/datasets/cxj/exposure-fairness/splade_msmarco-passage_dev_100.res
converting /mnt/datasets/cxj/exposure-fairness/splade_msmarco-passage_dev_100.res into a dataframe
done

In [31]:
df.head()

       qid  Q0    docid  rank        score                             run
0  1048578  Q0  7187234     0  1345.927870  splade_msmarco-passage_dev_100
1  1048578  Q0  2078221     1  1324.328383  splade_msmarco-passage_dev_100
2  1048578  Q0  5365326     2  1322.672730  splade_msmarco-passage_dev_100
3  1048578  Q0  4567130     3  1308.076251  splade_msmarco-passage_dev_100
4  1048578  Q0  5365328     4  1250.860573  splade_msmarco-passage_dev_100

In [32]:
res = '/mnt/datasets/cxj/exposure-fairness/bm25_msmarco-passage_dev_100_500_scikit_dense_with_groupid.res'
columns=["qid", "Q0", "docid", "rank", "score", "run", "cluster"]
df = convert.convert_res2docdf(res, columns=columns)

converting /mnt/datasets/cxj/exposure-fairness/bm25_msmarco-passage_dev_100_500_scikit_dense_with_groupid.res into a dataframe
done

In [33]:
df.head()

      qid  Q0    docid  rank      score                           run  cluster
0  199177  Q0  6694981    97  10.922701  bm25_msmarco-passage_dev_100        0
1  743456  Q0  3609042     4  25.286708  bm25_msmarco-passage_dev_100        0
2  743456  Q0  3609038     3  26.386765  bm25_msmarco-passage_dev_100        0
3  743456  Q0  2376243     2  26.572051  bm25_msmarco-passage_dev_100        0
4  743456  Q0  7589344     1  26.984184  bm25_msmarco-passage_dev_100        0

In [34]:
# df[df['qid'] == 388892]
df[(df['qid'] == 388892) ]

Empty DataFrame
Columns: [qid, Q0, docid, rank, score, run, cluster]
Index: []

In [78]:
res = '/mnt/datasets/cxj/exposure-fairness/bm25_msmarco-passage_dev_100_500_scikit_dense_with_groupid.res'
columns=["qid", "Q0", "docid", "rank", "score", "run", "cluster"]
df2 = convert.convert_res2docdf(res, columns=columns)
# columns=["qid", "Q0", "docid", "rank", "score", "run"]
# df2 = convert.convert_res2docdf(res, columns=columns)
df2[df2['qid'] == 388892]

converting /mnt/datasets/cxj/exposure-fairness/bm25_msmarco-passage_dev_100_500_scikit_dense_with_groupid.res into a dataframe
done

Empty DataFrame
Columns: [qid, Q0, docid, rank, score, run, cluster]
Index: []

In [80]:
df2.tail()

,qid,Q0,docid,rank,score,run,cluster
10108430,1060109,Q0,8839182,22,17.568175,bm25_msmarco-passage_dev_100,499
10108431,1060109,Q0,1442087,23,17.426964,bm25_msmarco-passage_dev_100,499
10108432,1060109,Q0,3795147,24,17.395200,bm25_msmarco-passage_dev_100,499
10108433,1060109,Q0,7168913,25,17.271212,bm25_msmarco-passage_dev_100,499
10108434,1060109,Q0,4031002,26,17.087777,bm25_msmarco-passage_dev_100,499

In [69]:
df.head()

,qid,Q0,docid,rank,score,run,cluster
0,766473,Q0,4725852,83,537.166061,splade_msmarco-passage_dev_100,0
1,766473,Q0,866130,82,540.176600,splade_msmarco-passage_dev_100,0
2,766473,Q0,12460,81,541.075366,splade_msmarco-passage_dev_100,0
3,766473,Q0,578936,80,541.648549,splade_msmarco-passage_dev_100,0
4,766473,Q0,3666452,99,520.578600,splade_msmarco-passage_dev_100,0

In [70]:
df2.head()

       qid       Q0  docid        rank                           score  run
766473  Q0  4725852     83  537.166061  splade_msmarco-passage_dev_100    0
766473  Q0   866130     82  540.176600  splade_msmarco-passage_dev_100    0
766473  Q0    12460     81  541.075366  splade_msmarco-passage_dev_100    0
766473  Q0   578936     80  541.648549  splade_msmarco-passage_dev_100    0
766473  Q0  3666452     99  520.578600  splade_msmarco-passage_dev_100    0

In [64]:
df2[df2['qid'] == 388892]

,qid,Q0,docid,rank,score,run,cluster
7542016,388892,Q0,8332088,0,1019.864300,splade_msmarco-passage_dev_100,364
7542017,388892,Q0,5324244,1,949.213740,splade_msmarco-passage_dev_100,364
7542018,388892,Q0,8332089,2,926.069976,splade_msmarco-passage_dev_100,364
7542019,388892,Q0,7864268,3,919.262918,splade_msmarco-passage_dev_100,364
7542020,388892,Q0,4132200,4,889.437471,splade_msmarco-passage_dev_100,364
7542021,388892,Q0,315209,5,877.450503,splade_msmarco-passage_dev_100,364
7542022,388892,Q0,5434018,6,868.961125,splade_msmarco-passage_dev_100,364
7542023,388892,Q0,8332090,7,866.271324,splade_msmarco-passage_dev_100,364
7542024,388892,Q0,5526580,8,863.445983,splade_msmarco-passage_dev_100,364
7542025,388892,Q0,1408213,9,861.304322,splade_msmarco-passage_dev_100,364
7542026,388892,Q0,1408206,10,860.903590,splade_msmarco-passage_dev_100,364
7542027,388892,Q0,3999269,11,857.262769,splade_msmarco-passage_dev_100,364
7542028,388892,Q0,3902300,12,854.062130,splade_msmarco-passage_dev_100,364
7542029,388892,Q0,6398427,13,851.392769,splade_msmarco-passage_dev_100,364
7542030,388892,Q0,2125177,14,849.471976,splade_msmarco-passage_dev_100,364
7542031,388892,Q0,169509,15,846.659593,splade_msmarco-passage_dev_100,364
7542036,388892,Q0,3902304,16,845.637285,splade_msmarco-passage_dev_100,364
7542037,388892,Q0,2979451,17,843.958026,splade_msmarco-passage_dev_100,364
7542038,388892,Q0,4119210,18,832.324381,splade_msmarco-passage_dev_100,364
7542039,388892,Q0,6915351,19,830.085890,splade_msmarco-passage_dev_100,364
7542040,388892,Q0,8833724,20,828.494732,splade_msmarco-passage_dev_100,364
7542041,388892,Q0,8554727,21,827.139485,splade_msmarco-passage_dev_100,364
7542042,388892,Q0,8438874,22,826.052258,splade_msmarco-passage_dev_100,364
7542043,388892,Q0,3240364,23,823.868311,splade_msmarco-passage_dev_100,364
7542044,388892,Q0,2155296,24,823.780102,splade_msmarco-passage_dev_100,364
7542045,388892,Q0,2026790,25,822.684381,splade_msmarco-passage_dev_100,364
7542046,388892,Q0,2786751,26,819.955287,splade_msmarco-passage_dev_100,364
7542047,388892,Q0,4253746,27,817.119507,splade_msmarco-passage_dev_100,364
7542048,388892,Q0,4173294,28,816.130864,splade_msmarco-passage_dev_100,364
7542049,388892,Q0,3365553,29,814.720970,splade_msmarco-passage_dev_100,364
7542050,388892,Q0,1698855,30,813.204894,splade_msmarco-passage_dev_100,364
7542051,388892,Q0,1797226,31,810.679138,splade_msmarco-passage_dev_100,364
7542068,388892,Q0,4261096,32,809.986849,splade_msmarco-passage_dev_100,364
7542069,388892,Q0,7062256,33,809.671803,splade_msmarco-passage_dev_100,364
7542070,388892,Q0,5703797,34,807.688140,splade_msmarco-passage_dev_100,364
7542071,388892,Q0,3540366,35,803.539654,splade_msmarco-passage_dev_100,364
7542072,388892,Q0,4552501,36,803.067232,splade_msmarco-passage_dev_100,364
7542073,388892,Q0,1471569,37,800.841577,splade_msmarco-passage_dev_100,364
7542074,388892,Q0,2484668,38,800.710699,splade_msmarco-passage_dev_100,364
7542075,388892,Q0,1709259,39,800.377244,splade_msmarco-passage_dev_100,364
7542076,388892,Q0,6330096,40,798.272991,splade_msmarco-passage_dev_100,364
7542077,388892,Q0,7622444,41,798.111906,splade_msmarco-passage_dev_100,364
7542078,388892,Q0,1739667,42,795.981496,splade_msmarco-passage_dev_100,364
7542079,388892,Q0,8393655,43,795.436788,splade_msmarco-passage_dev_100,364
7542080,388892,Q0,7683681,44,794.818942,splade_msmarco-passage_dev_100,364
7542081,388892,Q0,954625,45,792.920634,splade_msmarco-passage_dev_100,364
7542082,388892,Q0,5907496,46,788.988206,splade_msmarco-passage_dev_100,364
7542083,388892,Q0,7810280,47,787.692763,splade_msmarco-passage_dev_100,364
7542084,388892,Q0,3071433,48,786.075483,splade_msmarco-passage_dev_100,364
7542085,388892,Q0,6828731,49,785.537460,splade_msmarco-passage_dev_100,364
7542086,388892,Q0,797115,50,784.999071,splade_msmarco-passage_dev_100,364
7542087,388892,Q0,1575706,51,784.829207,splade_msmarco-passage_dev_100,364
7542088,388892,Q0,8277086,52,783.943249,splade_msmarco-passage_dev_100,364
7542089,388892,Q0,3696756,53,783.714072,splade_msmarco-passage_dev_100,364
7542090,388892,Q0,358866,54,783.629058,splade_msmarco-passage_dev_100,364
7542091,388892,Q0,358863,55,780.638712,splade_msmarco-passage_dev_100,364
7542092,388892,Q0,8082989,56,779.939689,splade_msmarco-passage_dev_100,364
7542093,388892,Q0,5705633,57,779.656256,splade_msmarco-passage_dev_100,364
7542094,388892,Q0,7519893,58,778.943967,splade_msmarco-passage_dev_100,364
7542095,388892,Q0,6162009,59,776.708999,splade_msmarco-passage_dev_100,364
7542096,388892,Q0,982601,60,776.605553,splade_msmarco-passage_dev_100,364
7542097,388892,Q0,765340,61,775.395837,splade_msmarco-passage_dev_100,364
7542098,388892,Q0,8375830,62,774.395100,splade_msmarco-passage_dev_100,364
7542099,388892,Q0,8237774,63,773.169191,splade_msmarco-passage_dev_100,364
7542320,388892,Q0,669109,64,772.644510,splade_msmarco-passage_dev_100,364
7542321,388892,Q0,3085702,65,772.040253,splade_msmarco-passage_dev_100,364
7542322,388892,Q0,2885407,66,771.511630,splade_msmarco-passage_dev_100,364
7542323,388892,Q0,8712431,67,770.907993,splade_msmarco-passage_dev_100,364
7542324,388892,Q0,3295914,68,769.544232,splade_msmarco-passage_dev_100,364
7542325,388892,Q0,8264918,69,769.387217,splade_msmarco-passage_dev_100,364
7542326,388892,Q0,174573,70,769.214646,splade_msmarco-passage_dev_100,364
7542327,388892,Q0,8315256,71,768.677388,splade_msmarco-passage_dev_100,364
7542328,388892,Q0,7618911,72,767.238291,splade_msmarco-passage_dev_100,364
7542329,388892,Q0,3286304,73,767.039516,splade_msmarco-passage_dev_100,364
7542330,388892,Q0,3477973,74,766.971449,splade_msmarco-passage_dev_100,364
7542331,388892,Q0,8746064,75,766.227517,splade_msmarco-passage_dev_100,364
7542336,388892,Q0,7360948,76,766.014366,splade_msmarco-passage_dev_100,364
7542337,388892,Q0,6902864,77,765.532992,splade_msmarco-passage_dev_100,364
7542338,388892,Q0,6136732,78,765.451691,splade_msmarco-passage_dev_100,364
7542339,388892,Q0,5983991,79,765.383630,splade_msmarco-passage_dev_100,364
7542340,388892,Q0,3902299,80,765.194372,splade_msmarco-passage_dev_100,364
7542341,388892,Q0,1440793,81,764.491212,splade_msmarco-passage_dev_100,364
7542342,388892,Q0,6351173,82,764.441322,splade_msmarco-passage_dev_100,364
7542343,388892,Q0,3744716,83,764.224867,splade_msmarco-passage_dev_100,364
7542344,388892,Q0,5787972,84,764.049896,splade_msmarco-passage_dev_100,364
7542345,388892,Q0,378811,85,763.654544,splade_msmarco-passage_dev_100,364
7542346,388892,Q0,1339820,86,762.701470,splade_msmarco-passage_dev_100,364
7542347,388892,Q0,1372561,87,761.621343,splade_msmarco-passage_dev_100,364
7542348,388892,Q0,1619395,88,761.604923,splade_msmarco-passage_dev_100,364
7542349,388892,Q0,2146678,89,761.586635,splade_msmarco-passage_dev_100,364
7542350,388892,Q0,4106861,90,761.361242,splade_msmarco-passage_dev_100,364
7542351,388892,Q0,1101349,91,761.335722,splade_msmarco-passage_dev_100,364
7542352,388892,Q0,4256283,92,761.206198,splade_msmarco-passage_dev_100,364
7542353,388892,Q0,7373229,93,760.335354,splade_msmarco-passage_dev_100,364
7542354,388892,Q0,6013863,94,759.137108,splade_msmarco-passage_dev_100,364
7542355,388892,Q0,1970694,95,758.864380,splade_msmarco-passage_dev_100,364
7542356,388892,Q0,1372553,96,758.830283,splade_msmarco-passage_dev_100,364
7542357,388892,Q0,1379180,97,758.210606,splade_msmarco-passage_dev_100,364
7542358,388892,Q0,4517444,98,757.417299,splade_msmarco-passage_dev_100,364
7542359,388892,Q0,2825705,99,757.344219,splade_msmarco-passage_dev_100,364

In [48]:
csv = f'{config.data_dir}/splade_{config.dataset_name}_{config.topics_name}_{config.retrieve_num}.csv'
print(csv)
df = pd.read_csv(csv, index_col=0).reset_index()

/mnt/datasets/cxj/exposure-fairness/splade_msmarco-passage_dev_100.csv

In [39]:
df.dtypes

qid        int64
Q0        object
docid      int64
rank       int64
score    float64
run       object
dtype: object

In [49]:
q = '/mnt/datasets/cxj/exposure-fairness//grouped_queries/clustered_dev_queries_by_500_scikit_dense.csv'
q_df = pd.read_csv(q, index_col=0).reset_index()

In [52]:
m_df = df.merge(q_df[['qid','cluster']], on='qid', how='left')

In [ ]:
m_df[(m_df['qid'] == 388892)]

In [ ]:
df[(df['qid'] == 388892) ]