In [4]:
import pandas as pd

csv = f'/nfs/resources/cxj/retrievability-bias/bm25/t5-base-msmarco-epoch-5_unprunned_df.csv'
df = pd.read_csv(csv,index_col=0).reset_index()

In [5]:
df.head(0)

Empty DataFrame
Columns: [text, docno, prob]
Index: []

In [6]:
df.head(1)

                                                text  docno      prob
0  The presence of communication amid scientific ...      0 -0.879402

In [7]:
df.head(2)

                                                text  docno      prob
0  The presence of communication amid scientific ...      0 -0.879402
1  The Manhattan Project and its atomic bomb help...      1 -0.876912